*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
tools/
data/
cfg/
config/
code/CharScreen_Andrew/
scripts/
maps/DixonButts/backup/
NewSOund/
maps/nsv_apollo/
maps/example/backup/
maps/exodus/backup/
maps/torch/backup/
code/controllers/master_pre2952018.dm
*.dmb
*.rsc
baystation12.int
baystation12.lk
